@page "/"

<PageTitle>Inicio</PageTitle>
<link rel="stylesheet" href="styles.css">

<h1>Inicio</h1>

<h2>Bienvenido a este apartado, ¡Gracias por visitar mi tarea! 😊</h2>

<p><b>-Cuando descubres algo nuevo en el mundo del desarrollo sientes que es magia, pero recuerda que no es magia es Tecnologia.</b></p>

<img src="https://www.headsem.com/wp-content/uploads/2018/02/Carreras-tecnol%C3%B3gicas.jpg" title="Una imagen"/>
